<div [ngClass]="{'selected': isSelected, 'favourite': isFavourite}" class="voice" (mouseenter)="showFavouriteIcon()"
    (mouseleave)="hideFavouriteIcon()">
    <div class="voice-favourite" [style.display]="favouriteIconVisible ? 'flex' : 'none'"
        (click)="toggleFavourite($event)">
        <img [src]="isFavourite ? '/assets/voice-favourite.svg' : '/assets/voice-favourite-off.svg'">
    </div>
    <div class="voice-icon" (click)="selectVoice($event)">
        <img [src]="'/assets/' + this.voice?.icon">
    </div>
    <span class="voice-name">{{voice?.name}}</span>
</div>