:host .voice {
    display: block;
    float: left;
    width: 16.66%;
    position: relative;
    margin-bottom: 40px;
}

:host .voice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:host .voice .voice-icon {
    height: 110px;
    width: 110px;
    border-radius: 100%;
    background-position: center;
    background-size: contain;
    background-color: #d1d1d1;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
}

:host .voice.selected .voice-icon {
    background: rgb(0, 148, 255);
    background: linear-gradient(45deg, rgba(0, 193, 252, 1) 35%, rgba(0, 227, 255, 1) 100%);
}

:host .voice .voice-name {
    cursor: pointer;
}

:host .voice.selected .voice-name {
    color: rgb(0, 193, 255);
}

:host .voice .voice-name {
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 110px;
    display: inline-block;
    text-align: center;
}

:host .voice .voice-favourite {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    border-radius: 100%;
    background-color: #d1d1d1;
}

:host .voice.favourite .voice-favourite, :host .voice.favourite .voice-icon {
    background-color: white;
}

/* media queries */

@media screen and (max-width: 1020px) {
    :host .voice {
        width: 20%;
    }
}

@media screen and (max-width: 970px) {
    :host .voice {
        width: 33.3%;
    }
}

@media screen and (max-width: 650px) {
    :host .voice {
        width: 50%;
    }
}