:host {
    cursor: pointer;
}

:host .voice {
    display: block;
    float: left;
    padding: 15px 15px;
    position: relative;
}
:host .voice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:host .voice .voice-icon {
    height: 110px;
    width: 110px;
    border-radius: 100%;
    background-position: center;
    background-size: contain;
    background-color: #d1d1d1;
}

:host .voice .voice-icon.selected {
    background-color: deepskyblue;
}

:host .voice .voice-name {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
    
}

:host .voice .voice-favourite {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 100%;
    background-color: #d1d1d1;
}