:host {
    cursor: pointer;
}

:host .voice {
    display: block;
    float: left;
    padding: 30px 30px;
    position: relative;
}
:host .voice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:host .voice .voice-icon {
    height: 125px;
    width: 125px;
    border-radius: 100%;
    background-position: center;
    background-size: contain;
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

:host .voice.selected .voice-icon {
    background: rgb(0,148,255);
    background: linear-gradient(45deg, rgba(0,193,252,1) 35%, rgba(0,227,255,1) 100%);
}

:host .voice.selected .voice-name {
    color: rgb(0,193,255);
}

:host .voice .voice-name {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
    
}

:host .voice .voice-favourite {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 100%;
    background-color: #d1d1d1;
}

:host .voice.favourite .voice-favourite,
:host .voice.favourite .voice-icon {
    background-color: white;
}
