<div class="app-wrapper">
  <div class="header-container">
    <div class="header">
      <div class="left-side">
        <div class="search-container">
          <img src="/assets/search.svg">
          <input type="text" [(ngModel)]="activeSearch" class="search">
          <img *ngIf="activeSearch" (click)="activeSearch = undefined" src="/assets/search-close.svg">
        </div>
      </div>
      <div class="right-side">
        <div class="tags-filter">
          <img class="filter-icon" src="/assets/filter.svg">
          <ng-select  class="voicemod-select" [clearable]="false" [items]="tags" bindLabel="tag" bindValue="id"
            [(ngModel)]="selectedTag">
          </ng-select>
        </div>
        <div class="sort">
          <img class="filter-icon" src="/assets/order.svg">
          <ng-select class="voicemod-select" [clearable]="false" [items]="sortOptions" bindLabel="option" bindValue="id"
            [(ngModel)]="selectedSortOption">
          </ng-select>
        </div>

        <img (click)="randomSelection()" class="random" src="/assets/button-random.svg">
      </div>
    </div>
  </div>
  <div class="container">
    <voicemod-titled-section title="Favourite voices">
      <voicemod-voice *ngFor="let voice of favouriteVoices | search: activeSearch :  getCurrentTag(selectedTag) | sortVoices: selectedSortOption" [voice]="voice" [isFavourite]="true"
        [isSelected]="selectedVoice?.id === voice.id" (favouriteClick)="toggleFavourite($event)"
        (selectVoiceClick)="selectedVoice = voice"></voicemod-voice>
    </voicemod-titled-section>
    <voicemod-titled-section title="Pro voices">
      <voicemod-voice *ngFor="let voice of voices| search: activeSearch : getCurrentTag(selectedTag)| sortVoices: selectedSortOption" [voice]="voice"
        [isSelected]="selectedVoice?.id === voice.id" [isFavourite]="favouriteVoices.includes(voice)"
        (favouriteClick)="toggleFavourite($event)" (selectVoiceClick)="selectedVoice = voice"></voicemod-voice>
    </voicemod-titled-section>
  </div>
</div>
<div class="signature">
  <p>Made with ❤️ by <a href="https://github.com/rsginer">@RSGiner</a></p>
</div>