:host .app-wrapper {
    background-color: #212121;
    display: flex;
    align-self: center;
    padding: 10px 25px;
    margin: 0 auto;
    max-width: 1150px;
    flex-direction: column;
    border-radius: 6px;
}

:host .container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

/* signature */
:host .signature p {
    text-align: center;
    font-size: 11px;
    text-transform: none;
}

:host .signature p a {
    color: rgb(126, 201, 255);
}

/* header */
:host .header {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
:host .header .left-side, :host .header .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* search */
:host .header .search-container {
    display: flex;
}

:host .header .search-container img, :host .header .search-container input {
    background-color: black;
}

:host .header .search-container img:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

:host .header .search-container img:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px 10px;
    margin-left: -30px;
    background-color: transparent;
    cursor: pointer;
}

:host .header .search-container input {
    border: none;
    outline: none;
    color: white;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 200px;
    font-size: 16px;
}

/* random */
:host .random {
    cursor: pointer;
}