<div class="app-wrapper">
  <div class="header-container">
    <div class="header">
      <div class="left-side">
        <div class="search-container">
          <img src="/assets/search.svg">
          <input type="text" [(ngModel)]="activeSearch" class="search">
          <img *ngIf="activeSearch" (click)="activeSearch = undefined" src="/assets/search-close.svg">
        </div>
      </div>
      <div class="right-side">
        <img (click)="randomSelection()" class="random" src="/assets/button-random.svg">
      </div>
    </div>
  </div>
  <div class="container">
    <voicemod-titled-section title="Favourite voices">
      <voicemod-voice *ngFor="let voice of favouriteVoices | search: activeSearch" [voice]="voice" [isFavourite]="true"
        [isSelected]="selectedVoice?.id === voice.id" (favouriteClick)="toggleFavourite($event)"
        (selectVoiceClick)="selectedVoice = voice"></voicemod-voice>
    </voicemod-titled-section>
    <voicemod-titled-section title="Pro voices">
      <voicemod-voice *ngFor="let voice of voices| search: activeSearch" [voice]="voice"
        [isSelected]="selectedVoice?.id === voice.id" [isFavourite]="favouriteVoices.includes(voice)"
        (favouriteClick)="toggleFavourite($event)" (selectVoiceClick)="selectedVoice = voice"></voicemod-voice>
    </voicemod-titled-section>
  </div>

</div>
<div class="signature">
  <p>Made with ❤️ by <a href="https://github.com/rsginer">@RSGiner</a></p>
</div>