body {
    background-color: #212121;
    font-family: Roboto, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #848484;
    margin: 0;
    text-transform: uppercase;
}

p, span, label {
    color: #d0d0d0;
}